{% extends 'base.html' %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
                <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <table class="table table-borderless table-responsive">
        <tbody>
            <tr>
                <td width="50%">
                    <!-- Left Movie Info -->
                    <div class="thumbnail">
                        <img src="{{ movie.pic.url }}" class="img-responsive" >
                    </div>
                </td>
                <td width="50%" class="right-part">
                    <h1 style="color:#fff">{{ movie.name }}</h1>
                    <p class="desc">{{ movie.desc }}</p>
                    <p>Date of Release: <b>{{ movie.date_of_release }}</b></p>
                    <!-- Right Movie Info -->
                    <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movie.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if is_in_my_list %}
                                <input type="checkbox" name="watch" id="watch" checked>
                                <h5 style="color: white;">Remove from my list:
                                    <input type="submit" class="btn btn-light" value="Remove">
                                </h5>
                            {% else %}
                                <input type="checkbox" name="watch" id="watch" class="form-control">
                                <h5 style="color: white;">Add to my list:</h5>
                                <input type="submit" class="btn btn-light" value="Add">
                            {% endif %}
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td class=" mx-auto d-block" style="color:#fff;" width="50%">
                  
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Add Your Comments"></textarea>
                        <input type="submit" value="Add Comment">
                    </form>
                </td>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
