{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'js/main.js' %}"></script>
{% if not request.user.is_authenticated %}
<br>
{% else %}
<center style="color:#fff; text-transform: capitalize;"><h2>Welcome {{user.username}}!!</h2></center>
{% endif %}

<style>
    .thumbnail p, .thumbnail h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        }
    .na{
        color: white;
    }
</style>

<p style="text-align:left;">
<span style="float:right;">
    <a href="{% url 'filter_movies' %}" style="font-size: 15px;" class="btn">
        <button style="color:#fff;background-color:#383938;padding:10px">Get Movie Recommendation</button>
    </a>
<h2>Movie List</h2>
</span>
</p>
<hr>
<br>

<!-- Movie list -->
    <div class="movie-content" >
        {% if movies %}
        {% for movie in movies %}
            <div class="movies">
                <div class="thumbnail">
                    <a class="images" href="{% url 'detail' movie.id %}">
                        <div class="elementor">
                            <img src="{{ movie.pic.url}}" class="img-responsive">
                        </div>
                    </a>
                    <center class="movie-text"><h5 class="na">{{movie.name}}</h5></center>
                    <!-- <h5>{{movie.genre}}</h5> -->
                </div>
            </div>
            {% endfor %}
            {% endif %}
    </div>
{% endblock content %}