{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'js/main.js' %}"></script>
{% if not request.user.is_authenticated %}
<br>
{% else %}
<center style="color:#fff; text-transform: capitalize;"><h2>Welcome {{user.username}}!!</h2></center>
{% endif %}

<style>
    .thumbnail p, .thumbnail h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        }
    .na{
        color: white;
    }
    .heading{
        color: white
    }
</style>

<!-- Movie list -->
<div class="movie-add">
    <h2 class="heading-movie">Latest Movies:</h2>
    <div class="movie-content">
        {% if latest_movies %}
            {% for movie in latest_movies %}
                <div class="movies">
                    <div class="thumbnail">
                        <a class="images" href="{% url 'detail' movie.id %}">
                            <div class="elementor">
                                <img src="{{ movie.pic.url}}" class="img-responsive">
                            </div>
                        </a>
                        <center class="movie-text"><h5 class="na">{{movie.name}}</h5></center>
                        <!-- <h5>{{movie.genre}}</h5> -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<script>
   
</script>

<div class="movie-add">
    <h2 class="heading-movie">Comedy Movies:</h2>
    <div class="movie-content">
        {% if comedy_movies %}
            {% for movie in comedy_movies %}
                <div class="movies">
                    <div class="thumbnail">
                        <a class="images" href="{% url 'detail' movie.id %}">
                            <div class="elementor">
                                <img src="{{ movie.pic.url}}" class="img-responsive">
                            </div>
                        </a>
                        <center class="movie-text"><h5 class="na">{{movie.name}}</h5></center>
                        <!-- <h5>{{movie.genre}}</h5> -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="movie-add">
    <h2 class="heading-movie">All Movies:</h2>
    <div class="movie-content">
        {% if movies %}
            {% for movie in movies %}
                <div class="movies">
                    <div class="thumbnail">
                        <a class="images" href="{% url 'detail' movie.id %}">
                            <div class="elementor">
                                <img src="{{ movie.pic.url}}" class="img-responsive">
                            </div>
                        </a>
                        <center class="movie-text"><h5 class="na">{{movie.name}}</h5></center>
                        <!-- <h5>{{movie.genre}}</h5> -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}