.navbar{
	border-radius: 0;
	min-height: 80px;
}
.container-fluid{
	margin-top: 18px;
}
.navbar-nav>li>a{
	font-size: 18px;
}
.navbar-brand{
	font-size: 22px;
	font-family: inherit;
	font-style: italic;
	font-weight: 700;
}
.navbar-inverse .navbar-brand{
	color:#00bcd4;
}
.navbar-inverse .navbar-nav>li>a{
		color: #fff;
}
h2{
	margin-left: 60px;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }

 #social-em:hover {
     color: #f39c12;
 }
 #social-git:hover{
 	color:black;
 }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

input{
    color: black;
}
/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/

/* Header */

header .row{
    align-items: center;
    justify-content: space-around;
}
header .container-fulid{
    padding: 0px 40px;
}
header .logo-col{
    width: 26%;
    flex: none;
    /* padding-left: 60px; */
}
header .navbar-brand{
    width: 400px;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 2px;
}
.container{
    max-width: 100%;
    padding: 20px 60px;
}
header .logo{
    width: 100%;
    height: 100%;
}
.navbar{
    padding: 6px 0px;
    min-height: 0px;
}
.navbar-toggler{
    display: none;
}
.nav-menu{
    width: 74%;
}
.navbar-collapse{
    justify-content: end;
}
.nav-item{
    margin-right: 40px;
}
.navbar{
    padding-right: 40px;
}
.form-horizontal{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
}
.input-group{
    justify-content: end;
}
.search-input{
    width: 400px;
    padding: 7px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.menu-col{
    display: flex;
}
.search-button{
    padding: 8px 35px;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.movie-content{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.movies{
    width: calc(20% - 20px);
    height: auto;
}
.images{
    height: 350px;
    display: block;
    position: relative;
}
.images image{
    height: 100%;
    width: 100%;
}
.img-responsive{
    width: 100%;
    height: 100%;
}
.thumbnail{
    position: relative;
}
.movie-text{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    background: #000;
    border-top-left-radius: 20px;
    padding: 0px;
    border-top-right-radius: 20px;
}
.na{
    text-align: center;
    margin-top: 4px;
}
.navbar-expand-sm .navbar-nav .nav-button .nav-link{
    background: #fff;
    color: #000!important;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
header{
    padding-bottom: 50px;
    position: relative;
}
.nav-item:last-child{
    margin-right: 0px;
}