{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 bg-dark mx-auto d-block">
  <div class="row g-0">
    <div>
      <div class="card-body text-light my-5">
        <h5 >Sign Up</h5>
        {% if form.errors %}
        <ul>
          {% for field, errors in form.errors.items %}
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          {% endfor %}
          </ul>
        {% endif %}
        <p class="card-text">
          <form method="POST">
            {% csrf_token %}

            <p>
              <label for="id_username">Username:</label>
              <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
            </p>

            <p>
              <label for="id_email">Email:</label>
              <input type="email" name="email" maxlength="320" required="" id="id_email">
            </p>

            <p>
              <label for="id_password1">Password:</label>
              <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
            </p>

            <p>
              <label for="id_password2">Password confirmation:</label>
              <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
            </p>

            <button type="submit" class="btn btn-primary">
              Sign Up
            </button>
          </form>
        </p>
        Already have an account <a href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
