.navbar{
	border-radius: 0;
	min-height: 80px;
}
.container-fluid{
	margin-top: 18px;
}
.navbar-nav>li>a{
	font-size: 18px;
}
.navbar-brand{
	font-size: 22px;
	font-family: inherit;
	font-style: italic;
	font-weight: 700;
}
.navbar-inverse .navbar-brand{
	color:#00bcd4;
}
.navbar-inverse .navbar-nav>li>a{
		color: #fff;
}
h2{
	margin-left: 60px;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }

 #social-em:hover {
     color: #f39c12;
 }
 #social-git:hover{
 	color:black;
 }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

input{
    color: black;
}
/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/

/* Header */

header .row{
    align-items: center;
    justify-content: space-around;
}
header .container-fulid{
    padding: 0px 40px;
}
header .logo-col{
    width: 26%;
    flex: none;
    /* padding-left: 60px; */
}
header .navbar-brand{
    width: 400px;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 2px;
}
.container{
    max-width: 100%;
    padding: 20px 60px;
}
header .logo{
    width: 100%;
    height: 100%;
}
.navbar{
    padding: 6px 0px;
    min-height: 0px;
}
.navbar-toggler{
    display: none;
}
.nav-menu{
    width: 74%;
}
.navbar-collapse{
    justify-content: end;
}
.nav-item{
    margin-right: 35px;
}
.form-horizontal{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
}
.input-group{
    justify-content: end;
}
.search-input{
    width: 400px;
    padding: 8px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.menu-col{
    display: flex;
}
.search-button{
    padding: 8px 35px;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.movie-content{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.movies{
    width: calc(20% - 20px);
    height: auto;
}
.images{
    height: 350px;
    display: block;
    position: relative;
}
.images image{
    height: 100%;
    width: 100%;
}
.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.thumbnail{
    position: relative;
}
.movie-text{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    background: #000;
    border-top-left-radius: 20px;
    padding: 0px;
    border-top-right-radius: 20px;
}
.na{
    text-align: center;
    margin-top: 4px;
}
.navbar-expand-sm .navbar-nav .nav-button .nav-link{
    background: #fff;
    color: #000!important;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
header{
    padding-bottom: 10px;
    position: relative;
}
.nav-item:last-child{
    margin-right: 0px;
}

.signup table tbody tr input , .login table tbody tr input{
    background-color: #f9f9fa;
    font-size: 16px;
    float: left;
    height: 50px;
    padding-right: 20px;
    width: 100%;
}
.signup table tbody tr label{
    color: #fff;
    margin-bottom: 10px;
}
.login{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}
.login table{
    width: 100%;
}
.signup{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.form-header{
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}
.signup-button{
    width: 100%;
    margin-top: 20px;
    height: 45px;
    font-size: 18px;
    background: #E36750;
    border: none;
}
.signup-button:hover{
    background-color: #E36750;
}
.back-login{
    font-size: 18px;
}
.back-login a{
    text-decoration: none;
    font-weight: bold;
}
.login td{
    padding-bottom: 20px;
}
.login td p {
    margin-bottom: 0px;
    text-align: center;
}
.login tr:last-child td{
    padding-bottom: 0px;
}
.login-form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0px!important;
}
.login td:last-child .signup-button{
    margin-top: 0px;
}
header .input-group{
    align-items: center;
}
.movie-add{
    padding-top: 50px;
}

.check{
    width: 20px;
    height: 20px;
    flex: none;
    border-radius: 0px;
    padding: 0px;
    margin-left: 10px!important;
    cursor: pointer;
}
.checkbox{
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
}
.add-remove-title{
    color: #fff;
    margin: 0px;
}
.add{
    padding: 6px 20px;
    border-radius: 10px!important;
    margin-left: 10px!important;
    border: 0px;
}
.desc{
    color: fff;
}
.date{
    color: #fff;
}
.commet-box textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}
.add-comment{
    margin-top: 20px;
}
.commet-box{
    padding-top: 20px;
}
.right-part{
    padding-left: 30px!important;
}
.heading-movie{
    margin-left: 0px;
    margin-bottom: 30px;
    font-size: 35px;
    color: #fff;
    text-align: center;
}
body .slick-slider{
    margin-bottom: 0px;
    height: auto;
}
.movie-title{
    color: #fff;
    margin-bottom: 15px;
}
#id_genre {
    display: flex;
    flex-wrap: wrap;
}
#id_genre div{
    width: 50%;
}
#id_genre div label ,  #id_languages div label{
    font-size: 20px;
}
#id_genre div label input[type = "checkbox"],#id_languages div label input{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.filter-button{
    background-color: #E36750;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    padding: 10px 15px;
}
.genre-heading, .language-heading{
    font-size: 22px;
}
.genre{
    padding-bottom: 20px;
}
h1 , h2 , h3 , h4 , h5{
    color: #fff;
    margin-left: 0px;
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: #E36750;
    border-color: #E36750;
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}
.button-css{
    font-size: 16px;
    background-color: #E36750;
    color: #fff;
}
.btn-check:focus+.btn-success, .btn-success:focus{
    background-color: #E36750;
    box-shadow: none;
}
.btn-success:hover{
    background-color: #E36750;
}
:focus-visible{
    outline: none;
}
.row{
    margin: 0px!important;
}
body .form-horizontal{
    padding-right: 0px
}

@media screen and (max-width : 1180px) {
    header .input-group{
        margin-top: 0px;
    }
    header .navbar-brand{
        width: 350px;
        margin-top: 10px;
    }
    .movies{
        width: calc(25% - 20px);
    }
    .nav-item{
        margin-right: 20px;
    }
    div .filter-form{
        width: 80%;
    }
    header{
        padding-bottom: 35px;
    }
}
@media screen and (max-width : 992px){
    .movies{
        width: calc(33% - 20px);
    }
    body .filter-form{
        width: 100%;   
    }
    body .login-form{
        width: 90%;
    }
    .signup{
        width: 100%;
    }
    .container{
        padding: 20px 40px;
    }
    .right-part{
        padding-left: 20px!important;
    }
    .container{
        padding:  20px;
    }
} 
@media screen and (max-width : 768px){
    .movies{
        width: calc(50% - 20px);
    }
    .right-part{
        width: 100%;
        padding: 0px;
        padding-left: 0px !important;
        display: block;
    }
    .left-part{
        width: 100%;
        display: block;
    }
    body div.login-form{
        width: 90%;
    }
    
    .signup td{
        width: 100%;
        display: block;
    }
    .login{
        width: 100%;
    }
}
@media screen and (max-width : 500px) {
    body header .navbar-brand{
        width: 230px;
    }
    header .container-fulid{
        padding: 0px;
    }
    .movies{
        width: 100%;
    }
    .container{
        padding: 15px;
    }
    .images{
        height: 500px;
    }
    #id_genre div{
        width: 100%;
    }
}
@media screen and (max-width : 350px) {
    body header a.navbar-brand{
        width: 200px;
    }
}
@media screen and (max-width : 1080px) {
    .navbar-toggler{
        display: block;
    }
    .mobile-nav{
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        align-items: center;
    }
    .fa-bars{
        color: #fff;
        font-size: 25px;
    }
    .mobile-navbar{
        display: none;
    }
    .toggler-button{
        background: transparent;
        border: none;
    }
    .mobile-navbar-open{
        display: block;
    }
    body .toggler-button{
        display: block;
    }
    .navbar-expand-sm .navbar-collapse{
        display: block!important;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #000;
    }
    .navbar-nav{
        display: block
    }
    .navbar{
        padding: 20px;
    }
    .btn-close{
        text-align: right;
        padding: 20px;
    }
    .navbar-expand-sm .navbar-nav .nav-button .nav-link{
        background-color: #000;
        color: #fff!important;
    }
    header .form-horizontal{
        width: auto;
    }
    body .toggler-search-icon{
        display: block;
    }
    .toggler-search-icon i{
        color: #000;
        background: #fff;
        padding: 9px;
        border-radius: 50%;
    }
    .search{
        display: none;
    }
    header .navbar-brand{
        width: 300px;
    }
    .search{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .search-open{
        display: block;
    }
    .container{
        padding: 20px 40ox;
    }
}
.toggler-search-icon{
    display: none;
}
.offcanvas.show {
    transform: none;
}
.toggler-button{
    display: none;
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
.offcanvas-end{
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
    transform: translateX(100%)
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.card-header h4{
    color: #000;
}
.comment-section{
    margin-top: 30px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}
.delete{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}
.card:first-child{
    margin-top: 0px;
}
.card{
    margin-top: 20px;
}
body .slick-slide{
    height: auto;
}
.slick-initialized .slick-slide{
    padding: 0px 10px;
}
footer .navbar{
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    padding-top: 30px;
}
.footer-copyright{
    color: #fff;
}

.btn:focus-visible{
    background: #E36750;
    border: none;
    box-shadow: none;
}
.card-body p {
    color: #000;
}
.delete-edit-button .btn:hover{
    color: #fff;
}
.btn{
    background-color: #E36750;
    border: 0px;
    color: #fff;
}
.edit-form .btn:hover{
    color: #fff;
}